#diretorios
letsencrypt
nodered
netdata
doc

#nginxProxy
data
config.json
password.txt

#homeassistant
custom_components
.storage
backups
homeassistant


#arquvos
_notas.txt
old_*
.env

#log
log
*.log




