#diretorios
letsencrypt
storage
nodered
netdata
doc

#nginxProxy
data
config.json
password.txt

#homeassistant
custom_components
.storage
backups


#arquvos
_documentacao/README
_notas.txt
old_*
.env



#log
log
*.log




